<a href="https://colab.research.google.com/github/themacdrea/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)

In [3]:
# Determine the number of unique values in each column.
unique_value_counts = application_df.nunique()

print(unique_value_counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff_value = 500
below_cutoff_types = application_df['APPLICATION_TYPE'].value_counts()[application_df['APPLICATION_TYPE'].value_counts() < cutoff_value].index.tolist()

# Replace in dataframe
application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].apply(lambda x: 'Other' if x in below_cutoff_types else x)

# Check to make sure binning was successful
application_type_value_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_value_counts)

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_value_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
classification_value_counts_greater_than_1 = classification_value_counts[classification_value_counts > 1]
print(classification_value_counts_greater_than_1)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [14]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
cutoff_values = 188

below_cutoff_classifications = application_df['CLASSIFICATION'].value_counts()[application_df['CLASSIFICATION'].value_counts() < cutoff_values].index.tolist()
# Replace in dataframe
application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].apply(lambda x: 'Other' if x in below_cutoff_classifications else x)

# Check to make sure binning was successful
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_value_counts)

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1003
C7000      777
C1700      287
C4000      194
Name: CLASSIFICATION, dtype: int64

In [16]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns =['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS'])
print(application_df.head())

   STATUS  ASK_AMT  IS_SUCCESSFUL  APPLICATION_TYPE_Other  \
0       1     5000              1                       0
1       1   108590              1                       0
2       1     5000              0                       0
3       1     6692              1                       0
4       1   142590              1                       0

   APPLICATION_TYPE_T10  APPLICATION_TYPE_T19  APPLICATION_TYPE_T3  \
0                     1                     0                    0
1                     0                     0                    1
2                     0                     0                    0
3                     0                     0                    1
4                     0                     0                    1

   APPLICATION_TYPE_T4  APPLICATION_TYPE_T5  APPLICATION_TYPE_T6  ...  \
0                    0                    0                    0  ...
1                    0                    0                    0  ...
2                    0                    1                    0  ...
3                    0                    0                    0  ...
4                    0                    0                    0  ...

   INCOME_AMT_1-9999  INCOME_AMT_10000-24999  INCOME_AMT_100000-499999  \
0                  0                       0                         0
1                  1                       0                         0
2                  0                       0                         0
3                  0                       1                         0
4                  0                       0                         1

   INCOME_AMT_10M-50M  INCOME_AMT_1M-5M  INCOME_AMT_25000-99999  \
0                   0                 0                       0
1                   0                 0                       0
2                   0                 0                       0
3                   0                 0                       0
4                   0                 0                       0

   INCOME_AMT_50M+  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_N  \
0                0                  0                         1
1                0                  0                         1
2                0                  0                         1
3                0                  0                         1
4                0                  0                         1

   SPECIAL_CONSIDERATIONS_Y
0                         0
1                         0
2                         0
3                         0
4                         0

[5 rows x 47 columns]

In [17]:
from sklearn.model_selection import train_test_split

# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1)
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

# Display the shape of the split datasets
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (27439, 46)
X_test shape: (6860, 46)
y_train shape: (27439,)
y_test shape: (6860,)

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [20]:
import tensorflow as tf

# Define the model
nn = tf.keras.models.Sequential()

# Add the first hidden layer
nn.add(tf.keras.layers.Dense(units=128, activation='relu', input_dim=X_train_scaled.shape[1]))

# Add the second hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu'))

# Add the output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 128)               6016

 dense_1 (Dense)             (None, 64)                8256

 dense_2 (Dense)             (None, 1)                 65

=================================================================
Total params: 14,337
Trainable params: 14,337
Non-trainable params: 0
_________________________________________________________________

In [22]:

# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [23]:
# Train the model
# Train the model
history = nn.fit(X_train_scaled, y_train, epochs=50, batch_size=256, validation_data=(X_test_scaled, y_test))

Epoch 1/50
108/108 [==============================] - 2s 7ms/step - loss: 0.5798 - accuracy: 0.7100 - val_loss: 0.5625 - val_accuracy: 0.7229
Epoch 2/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5544 - accuracy: 0.7305 - val_loss: 0.5616 - val_accuracy: 0.7201
Epoch 3/50
108/108 [==============================] - 0s 4ms/step - loss: 0.5507 - accuracy: 0.7328 - val_loss: 0.5577 - val_accuracy: 0.7232
Epoch 4/50
108/108 [==============================] - 0s 5ms/step - loss: 0.5493 - accuracy: 0.7320 - val_loss: 0.5557 - val_accuracy: 0.7217
Epoch 5/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5475 - accuracy: 0.7332 - val_loss: 0.5560 - val_accuracy: 0.7213
Epoch 6/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5465 - accuracy: 0.7336 - val_loss: 0.5544 - val_accuracy: 0.7214
Epoch 7/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5452 - accuracy: 0.7336 - val_loss: 0.5552 - val_accuracy: 0.7236
Epoch 8/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5453 - accuracy: 0.7359 - val_loss: 0.5551 - val_accuracy: 0.7245
Epoch 9/50
108/108 [==============================] - 0s 5ms/step - loss: 0.5442 - accuracy: 0.7336 - val_loss: 0.5528 - val_accuracy: 0.7246
Epoch 10/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5437 - accuracy: 0.7362 - val_loss: 0.5543 - val_accuracy: 0.7216
Epoch 11/50
108/108 [==============================] - 1s 6ms/step - loss: 0.5432 - accuracy: 0.7352 - val_loss: 0.5537 - val_accuracy: 0.7261
Epoch 12/50
108/108 [==============================] - 1s 8ms/step - loss: 0.5427 - accuracy: 0.7360 - val_loss: 0.5552 - val_accuracy: 0.7195
Epoch 13/50
108/108 [==============================] - 1s 7ms/step - loss: 0.5424 - accuracy: 0.7366 - val_loss: 0.5561 - val_accuracy: 0.7203
Epoch 14/50
108/108 [==============================] - 1s 7ms/step - loss: 0.5421 - accuracy: 0.7350 - val_loss: 0.5532 - val_accuracy: 0.7239
Epoch 15/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5420 - accuracy: 0.7360 - val_loss: 0.5539 - val_accuracy: 0.7226
Epoch 16/50
108/108 [==============================] - 0s 4ms/step - loss: 0.5419 - accuracy: 0.7378 - val_loss: 0.5522 - val_accuracy: 0.7248
Epoch 17/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5415 - accuracy: 0.7367 - val_loss: 0.5542 - val_accuracy: 0.7251
Epoch 18/50
108/108 [==============================] - 1s 8ms/step - loss: 0.5408 - accuracy: 0.7371 - val_loss: 0.5536 - val_accuracy: 0.7267
Epoch 19/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5409 - accuracy: 0.7382 - val_loss: 0.5544 - val_accuracy: 0.7222
Epoch 20/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5403 - accuracy: 0.7383 - val_loss: 0.5545 - val_accuracy: 0.7233
Epoch 21/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5405 - accuracy: 0.7369 - val_loss: 0.5522 - val_accuracy: 0.7239
Epoch 22/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5398 - accuracy: 0.7377 - val_loss: 0.5533 - val_accuracy: 0.7219
Epoch 23/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5396 - accuracy: 0.7378 - val_loss: 0.5538 - val_accuracy: 0.7249
Epoch 24/50
108/108 [==============================] - 0s 5ms/step - loss: 0.5401 - accuracy: 0.7360 - val_loss: 0.5531 - val_accuracy: 0.7214
Epoch 25/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5400 - accuracy: 0.7365 - val_loss: 0.5529 - val_accuracy: 0.7229
Epoch 26/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5392 - accuracy: 0.7377 - val_loss: 0.5527 - val_accuracy: 0.7258
Epoch 27/50
108/108 [==============================] - 0s 5ms/step - loss: 0.5394 - accuracy: 0.7377 - val_loss: 0.5527 - val_accuracy: 0.7255
Epoch 28/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5392 - accuracy: 0.7385 - val_loss: 0.5539 - val_accuracy: 0.7270
Epoch 29/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5391 - accuracy: 0.7377 - val_loss: 0.5518 - val_accuracy: 0.7254
Epoch 30/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5393 - accuracy: 0.7373 - val_loss: 0.5526 - val_accuracy: 0.7267
Epoch 31/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5388 - accuracy: 0.7383 - val_loss: 0.5530 - val_accuracy: 0.7226
Epoch 32/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5382 - accuracy: 0.7388 - val_loss: 0.5530 - val_accuracy: 0.7277
Epoch 33/50
108/108 [==============================] - 1s 8ms/step - loss: 0.5385 - accuracy: 0.7369 - val_loss: 0.5536 - val_accuracy: 0.7226
Epoch 34/50
108/108 [==============================] - 1s 13ms/step - loss: 0.5383 - accuracy: 0.7387 - val_loss: 0.5517 - val_accuracy: 0.7245
Epoch 35/50
108/108 [==============================] - 2s 16ms/step - loss: 0.5388 - accuracy: 0.7382 - val_loss: 0.5552 - val_accuracy: 0.7251
Epoch 36/50
108/108 [==============================] - 1s 9ms/step - loss: 0.5379 - accuracy: 0.7383 - val_loss: 0.5525 - val_accuracy: 0.7264
Epoch 37/50
108/108 [==============================] - 1s 8ms/step - loss: 0.5379 - accuracy: 0.7379 - val_loss: 0.5529 - val_accuracy: 0.7270
Epoch 38/50
108/108 [==============================] - 1s 8ms/step - loss: 0.5376 - accuracy: 0.7395 - val_loss: 0.5540 - val_accuracy: 0.7286
Epoch 39/50
108/108 [==============================] - 1s 9ms/step - loss: 0.5377 - accuracy: 0.7388 - val_loss: 0.5570 - val_accuracy: 0.7226
Epoch 40/50
108/108 [==============================] - 1s 8ms/step - loss: 0.5375 - accuracy: 0.7394 - val_loss: 0.5542 - val_accuracy: 0.7248
Epoch 41/50
108/108 [==============================] - 1s 8ms/step - loss: 0.5373 - accuracy: 0.7400 - val_loss: 0.5541 - val_accuracy: 0.7268
Epoch 42/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5369 - accuracy: 0.7404 - val_loss: 0.5535 - val_accuracy: 0.7252
Epoch 43/50
108/108 [==============================] - 0s 5ms/step - loss: 0.5372 - accuracy: 0.7393 - val_loss: 0.5523 - val_accuracy: 0.7206
Epoch 44/50
108/108 [==============================] - 0s 4ms/step - loss: 0.5372 - accuracy: 0.7389 - val_loss: 0.5536 - val_accuracy: 0.7264
Epoch 45/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5374 - accuracy: 0.7408 - val_loss: 0.5542 - val_accuracy: 0.7259
Epoch 46/50
108/108 [==============================] - 0s 5ms/step - loss: 0.5366 - accuracy: 0.7398 - val_loss: 0.5534 - val_accuracy: 0.7245
Epoch 47/50
108/108 [==============================] - 0s 5ms/step - loss: 0.5365 - accuracy: 0.7392 - val_loss: 0.5560 - val_accuracy: 0.7261
Epoch 48/50
108/108 [==============================] - 0s 4ms/step - loss: 0.5370 - accuracy: 0.7397 - val_loss: 0.5526 - val_accuracy: 0.7248
Epoch 49/50
108/108 [==============================] - 0s 4ms/step - loss: 0.5370 - accuracy: 0.7395 - val_loss: 0.5536 - val_accuracy: 0.7245
Epoch 50/50
108/108 [==============================] - 1s 5ms/step - loss: 0.5370 - accuracy: 0.7393 - val_loss: 0.5546 - val_accuracy: 0.7254

In [24]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - loss: 0.5546 - accuracy: 0.7254 - 315ms/epoch - 1ms/step
Loss: 0.5546149015426636, Accuracy: 0.7253644466400146

In [25]:
# Export our model to HDF5 file
nn.save("trained_model.h5")